.card {
	padding: none;
	transition-duration: '0.3s';
}

.card-content {
	overflow: auto;
	height: 200px;
}

.grid {
	padding: none;
	margin: 10px;
}

.advertisement {
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.advertise-card {
	width: 100%;
}

#advertise-taka {
	width: 10px;
	scale: 2.3;
}

@media (min-width: 500px) {
	.advertise-card {
		width: 50%;
	}
}

@media (min-width: 700px) {
	.advertise-card {
		width: 33.3%;
	}
}

@media (min-width: 900px) {
	.advertise-card {
		width: 25%;
	}
}

@media (min-width: 1200px) {
	.advertise-card {
		width: 20%;
	}
}


/* .advertisement {
	margin: 1em;
} */