.card {
	padding: none;
	transition-duration: '0.3s';
}

.card-content {
	overflow: auto;
	height: 200px;
}

.card-image {
	height: 200px;
	width: 100%;
}

.skeleton {
	animation: skeleton 1s linear infinite alternate;
}

.skeleton-taka {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	animation: skeleton 1s linear infinite alternate;
}

.skeleton-taka-hide {
	animation: none;
}

@keyframes skeleton {
	0% {
		background-color: hsl(195, 11%, 85%);
	}

	100% {
		background-color: hsl(200, 20%, 95%);
	}
}

.grid {
	padding: none;
	margin: 10px;
}

.advertisement {
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.advertise-card {
	width: 100%;
}

#advertise-taka {
	width: 10px;
	scale: 2.3;
}

@media (min-width: 500px) {
	.advertise-card {
		width: 50%;
	}
}

@media (min-width: 700px) {
	.advertise-card {
		width: 33.3%;
	}
}

@media (min-width: 900px) {
	.advertise-card {
		width: 25%;
	}
}

@media (min-width: 1200px) {
	.advertise-card {
		width: 20%;
	}
}

.LazyLoad {
	opacity: 0;
	transition: all 700ms ease-in-out;
}

.is-visible {
	opacity: 1;
}

/* .advertisement {
	margin: 1em;
} */