.profile-container {
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.upload-button {
  width: 2em;
  height: 2em;
  margin-top: 10px !important;
  padding: 1.5em 3.5em !important;
}
.upload {
  background-color: #5dca71 !important;
}
.remove {
  background-color: #ca5d5d !important;
}
.user-name {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
}
.profile-info {
  display: flex;
  overflow-x: auto;
  margin-bottom: 10px;
}
.edit-save-button {
  width: 3em !important;
  height: 2em !important;
  background-color: rgb(49, 94, 201) !important;
}
.edit-save-button:hover {
  background-color: #162c5d !important;
}
.notification-container {
  margin-top: 3em;
  margin-bottom: 2em;
  width: 100%;
}
.notification-box {
  min-height: 80px;
  max-height: 500px;
  overflow-y: auto;
  background: rgb(202, 208, 255);
  background: linear-gradient(
    90deg,
    rgba(228, 238, 252, 0.912) 20%,
    rgba(235, 235, 235, 0.91) 80%
  );
}
.notification {
  margin-bottom: 5px;
  min-height: 1em;
  max-height: 100%;
  padding: 10px;
  border-radius: 10px;
}
.notification:hover {
  background-color: #cad0ff;
  cursor: pointer;
  transition: all 250ms ease-in;
}
.transaction {
  margin-bottom: 5px;
  min-height: 1em;
  max-height: 100%;
  padding: 10px;
  border-radius: 10px;
}
.transaction:hover {
  background-color: #cad0ff;
  transition: all 250ms ease-in;
}
@media (min-width: 700px) {
  .profile-container {
    width: 80%;
  }
}
@media (min-width: 1200px) {
  .profile-container {
    width: 50%;
  }
}
