.review-placeholder {
  border: 1px solid rgb(91, 91, 91);
  font-size: 16px;
  outline: none;
  resize: none;
  overflow-x: auto;
  margin: auto;
}

.review-placeholder:focus {
  outline: 1px solid black;
}

.review-placeholder-button {
  background-color: #264a9d !important;
  transition: all 0.5s ease-in-out !important;
}

.review-placeholder-button:disabled {
  background-color: rgba(175, 170, 170, 0.682) !important;
  color: black !important;
  transition: all 0.3s ease-in-out !important;
}

.rating-review {
  font-size: 30px !important;
}

@media (min-width: 800px) {
  .rating-review {
    display: flex;
    justify-content: space-between;
    margin: none;
  }
}

.show-reviews {
  border: 1px solid #515b74 !important;
  color: #515b74 !important;
}
.show-reviews:hover {
  background-color: #515b74 !important;
  color: white !important;
  transition: all 300ms ease-in-out;
}

.rating-field {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

@media (min-width: 800px) {
  .rating-field {
    background-color: transparent;
    display: block;
    margin-bottom: 0px;
  }
}

.review-modal {
  overflow-y: auto;
}

.review-modal-window {
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90% !important;
  max-height: 75%;
  overflow-y: auto;
  padding: 1em;
  box-shadow: 24;
  background-color: #fbfdff;
  z-index: 1000;
}
@media (max-width: 600px) {
  .review-modal-window {
    width: 98% !important;
    padding: 0.2em;
  }
}
@media (min-width: 2000px) {
  .review-modal-window {
    width: 70% !important;
  }
}

.review-component {
  margin: 10px 8px;
  padding: 5px;
  max-height: 500px;
  overflow-y: auto;
  border-radius: 10px;
  background-color: rgba(219, 246, 222, 0.178);
  border: 1px solid rgba(210, 224, 244, 0.496);
}
.review-card {
  padding: 5px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(188, 212, 183, 0.91);
}
.review-user-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}
.review-user-link {
  text-decoration: none;
  display: inline-block;
  line-height: 0.5 !important;
  color: #3568dd;
}
.toolbar {
  display: flex;
  justify-content: flex-end;
}

#close-button {
  background-color: #f5d0d0;
  margin-bottom: 0.3em;
  color: #9e4848;
}

#close-button:hover {
  background-color: #f5b3b3 !important;
}

@media (min-width: 600px) {
  .review-modal {
    width: 90%;
    margin: auto !important;
  }
}

@media (min-width: 800px) {
  .review-modal {
    width: 80%;
  }
}

@media (min-width: 1080px) {
  .review-modal {
    width: 60%;
  }
}

.rating-info {
  display: flex;
  align-items: center;
}
.rating-component {
  margin: 10px 8px;
  overflow-y: auto;
  padding: 5px;
  background-color: rgba(210, 227, 244, 0.104);
  border: 1px solid rgba(210, 224, 244, 0.496);
  border-radius: 10px;
}
.rating-bar {
  background-color: #babcc3;
  height: 5px;
  border-radius: 10px;
  flex-grow: 1;
  margin-left: 5px;
  margin-right: 5px;
}
