.modal {
	overflow-y: auto;
}

.modal-window {
	position: absolute !important;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90% !important;
	overflow-y: auto;
	padding: 1.5em;
	box-shadow: 24;
	background-color: #fbfdff;
	z-index: 1000;
}

.modal-button {
	display: flex;
	justify-content: space-between;
	margin-top: 2em;
}

.toggle-button {
	width: 6em;
	border-width: 1px !important;
	border-style: solid !important;
	border-color: #d5d6d7 !important;
	background-color: #f6f6f6 !important;
	color: #454647 !important;
	transition: transform 0.3s ease;
}

.toggle-button:hover {
	background-color: #e7e7e7 !important;
}

.toggle-grid {
	margin-top: 1em !important;
}

.active-button {
	background-color: #ced6ea !important;
	border-color: #a9b8db !important;
}

.active-button:hover {
	background-color: #b7c3e1 !important;
}

.min-max-price {
	width: 100% !important;
}

.min-max-field {
	width: 100%;
}

.price-slider {
	margin-top: 1em;
}

#price-slider-label {
	color: #5a5b5c;
	font-size: medium;
	font-weight: 400;
}

.price-slider-bar.MuiSlider-colorPrimary {
	color: #515b74;
}

#show-price {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.price-icon {
	fill: #747677 !important;
	scale: 0.8;
}

.show-price-value {
	font-size: smaller;
	font-weight: 100;
}

@media (min-width: 420px) {
	.toggle-grid {
		justify-content: center !important;
	}
}

@media (min-width: 600px) {
	.min-max-price {
		width: 100% !important;
		display: flex !important;
		justify-content: space-between !important;
	}

	.min-max-field {
		width: 48% !important;
	}

	.modal {
		width: 70%;
		margin: auto !important;
	}
}

@media (min-width: 800px) {
	.modal {
		width: 60%;
	}
}

@media (min-width: 1080px) {
	.modal {
		width: 50%;
	}
}

.toolbar {
	display: flex;
	justify-content: flex-end;
}


#close-button {
	background-color: #f5d0d0;
	margin-bottom: 0.3em;
	color: #9e4848;
}

#close-button:hover {
	background-color: #f5b3b3 !important;
}

#clear-button {
	background-color: #f6f6f6;
	color: #5a626a;
	transition: transform 0.3s ease;
}